.footer{
  width: 90%;
  min-height: 149px;

  position:fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;

  background: var(--color-white);
  box-shadow: 0px 0px 20px var(--color-white);
  border-radius: 30px 30px 0px 0px;

  @media (max-width: 400px) {
    width: 95%;
  }
  @media (max-width: 375px) {
    height: 200px;
    display: grid;
    grid-template-areas: "logo" "links" "social";
  }
}


.footer .logo{
  position: absolute;
  left: 3%;
  top: 25%;
  bottom: 25%;
  @media (max-width: 375px) {
    grid-area: logo;
    width: 100%;
  }
}

.name-shop{   
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: var(--color-text-black);
  
}

.name-shop:hover{
  color: var(--color-orange-dark);
  transition: all 0.5s;
  cursor: pointer;
}

.links{
  width: 40%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:25%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;   

  font-family: sans-serif; 
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: var(--color-text-black);
  @media (max-width: 375px) {
    grid-area: links;
    width: 100%;
    justify-content: center; 
  }
}

p:hover{
  color: var(--color-orange-dark);
  font-weight: 500;
  transition: all 0.5s;
  cursor: pointer;
}

.links__part{
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  @media (max-width: 660px){
    flex-direction: column;
    padding: 0px 4px;
  }
}
.links__lang-part{          
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 660px){
    justify-content: flex-start;
  }
}
.links__lang{
  margin-left: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  color: var(--color-text-black);
}

#internet{
  width:20px;
  height: 20px;
}
#rus{
  color: var(--color-orange-dark); 
  font-weight: 700;
}
.links__lang:hover{
  cursor: pointer;
} 

.social-media{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;

  position: absolute;
  right: 3%;
  top: 25%;
  bottom: 25%;  
  @media (max-width: 375px) {
    grid-area: social;
    width: 100%;
  }
}

.social-media__icon{
  margin-left: 5px;
}
.social-media__icon:hover {
  cursor: pointer;
}

#vk{
  width:25px;
  height: 25px;
}

#telegram{
  width:25px;
  height: 25px;
}

#whatsapp{
  width:25px;
  height: 25px;
}